@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

/* body{ 
    display: flex;
    flex-direction: row;
}*/

#formCep {
    top: -5%;
    left: 0;
    position: fixed;
    max-width: 400px;
    background-color: rgba(204, 204, 204);
    /* border-radius: 10px; */
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
    height: 1058px;
    /*  */
}

#formCep label {
    display: block;
    margin-top: 13px;
}

#formCep input, button {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 0.8em;
}

#btn{
    background-color: #160358;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 15px;
}

#salvar {
    background-color: #160358;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 20px;
}

#tabela{
    position: fixed;
    top: 0px;
    left: 373px;
   
}

table {
    width: 1510px;
    border-collapse: collapse;
    background-color: rgb(204, 204, 204);
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

dialog{
    position: fixed;
    top: 150px;
    left: 800px;
    width: 25%;
    height: 70%;
    border-radius:20px ;
    text-align: center;
    background-color:#B0C6D2;
    font-size: 20px;
}

#mostraClima input{
    text-align: center;
    border-style:hidden;
    background-color: #B0C6D2;
    font-size: 25px;
    color: black
}

#mostraClima p{
    position: relative;
    left: -35%;
    font-size: 18px;
}
